   
<app-nav-bar></app-nav-bar>
  
  <div class="container-fluid">
    <div class="row">
        <app-sidebar></app-sidebar>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 content-nav-user">
        <app-nav-user></app-nav-user>
      </main>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <app-acounts *ngIf="!dataTransferService.showDetail" ></app-acounts>
        <app-acounts-detail *ngIf="dataTransferService.showDetail"></app-acounts-detail>
      </main>
    </div>
  </div>