
$base-color-blue: #0147cb;
$base-color-blue-product: #032c5e;
$base-color-active : #2fc9ca;
$base-color-gray :  #7d7d7d;
$base-color-black:  #0000000f;
$base-color-white:  #ffffff;
$primary : #7d7d7d;