<section class="shadow rounded content-acount card">
    <h5>ALL ACOUNTS</h5>
    <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Type</th>
            <th scope="col">Acount Name</th>
            <th scope="col">Status</th>
            <th scope="col">Currency</th>
            <th scope="col">Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr [ngClass]="{'active': item.isSelect}" *ngFor="let item of dataTransferService.userAcounts " (click)="showDetailAccount(item)">
            <th scope="row">
              <img src="../../../../assets/{{item.img}}" class="img-account">
            </th>
            <td>{{item.type}}</td>
            <td>{{item.accountName}}</td>
            <td>{{item.status}}</td>
            <td>{{item.currency}}</td>
            <td>${{item.balance | number}}</td>
          </tr>
        </tbody>
      </table>
</section>

<section class="content-credit row col">
  <div class="row col content-titles">
    <div class="col-8">
      <img src="../../../../assets/icon-title-1.png" class="title-icon-card">
      <span>Wallet</span>
    </div>
    <div class="col-4">
      <img src="../../../../assets/icon-title-2.png"  class="title-icon-card">
      <span>Your Bubgets</span>
    </div>
  </div>

  <div class="row col-12 content-cards">
    <div class="col">
      <img src="../../../../assets//credit-card-1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="content-text row">
          <p class="col-9 card-text">Remaining Amount</p>
          <p class="col card-text">33%</p>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="../../../../assets//credit-card-2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="content-text row">
          <p class="col-9 card-text">Remaining Amount</p>
          <p class="col card-text">33%</p>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    <div class="card col" >
      <img src="../../../../assets/buget.png" class="buget-img" alt="...">
    </div>

  </div>

</section>
