

.content-acount{
    .img-account{
        width: 35px;
    }
}

.content-credit{
    margin: 30px;
    .content-titles{
        img{
            width: 40px;
            margin-right: 10px;
        };
        span{
            font-size: 1.3em;
            color: #0147cb;
        }
    }

    .content-cards{
        padding: 20px;
        img{
            width: 280px;
        }
        .progress{
            height: 0.5rem;
            background-color: #fa8888;
        }
        .progress-bar{
            background-color: #2fc9ca;
        }
        .content-text{
            height : 25px;
            font-size: 0.9em;
            color: #0147cb;
        }
        .buget-img{
            margin-top: 30px;
        }
    }
}
