@import '../../../../assets/scss/variables.scss';

body {
    background-color: $base-color-blue !important;
}


.content-form{
    color: $base-color-white;
    padding: 0px 25vw;
    .form-select{
        color: $base-color-white;
        background-color: $base-color-blue-product;
        border: 2px solid $base-color-white!important;
    }
    .form-control{
        color: $base-color-white;
        background-color: $base-color-blue-product;
        border: 2px solid $base-color-white !important;
    }
    .input-group{
        width: 83% !important
    }

    .btn-send{
        margin: 0px;
        border-radius: 50px;
        background-color: $base-color-active;
    }

    .btn-cancel{
        margin: 0px;
        border-radius: 50px;
        background-color: $base-color-blue-product;
    }

    .content-btn{
        margin:  10px;
    }
}