<section class="container">
    <header class="content-header">
        <div>
            <img class="logo" src="../../../../assets/logo-fb.png">
        </div>
    </header>

    <section class="content-form" *ngIf="!showSuccess">
        <div class="content-titles">
            <h2 class="fs-5"> Request</h2>
            <hr class="hr-welcome">
            <h1>New product</h1>
            <p>Instant payments, and a lot of whithdrawal methods available.</p>
        </div>

        <form [formGroup]="newProductForm">
            <div class="row g-3 align-items-center">
                <div class="label-form col-sm-2">
                    <label for="inputPassword6" class="col-form-label">peoduct</label>
                </div>

                <div class="col-sm-10 ">
                    <select class="form-select" [ngClass]="displayFieldCss('productCtrl')" aria-label="Default select example" formControlName="productCtrl" >
                        <option selected>Select product</option>
                        <option value="Agile credit">Agile credit</option>
                        <option value="Credit Cards">Credit Cards</option>
                        <option value="Account savings">Account savings</option>
                        <option value="Home rental">Home rental</option>
                      </select>
                    <div *ngIf="isNotFieldValid('productCtrl')" id="userHelper" class="form-text">Please, select product.</div> 
                </div>
            </div>

            <div class="row g-3 align-items-center">
                <div class="label-form col-sm-2">
                    <label for="inputPassword6" class="col-form-label ">Cellphone</label>
                </div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" [ngClass]="displayFieldCss('cellPhoneCtrl')" formControlName="cellPhoneCtrl" required>
                    <div *ngIf="isNotFieldValid('cellPhoneCtrl')" id="passwordHelper" class="form-text">Please, enter a cellphone</div>
                </div>
            </div> 

            <div class="row g-3 align-items-center">
                <div class="label-form col-sm-2">
                    <label for="inputPassword6" class="col-form-label ">Monthly income</label>
                </div>
                <div class="col-sm-10 input-group">
                    <input type="number" class="form-control" [ngClass]="displayFieldCss('monthlyIncomeCtrl')" formControlName="monthlyIncomeCtrl" required>
                    <span class="input-group-text">USD</span>
                </div>
            </div> 

            <div class="row g-3 align-items-center content-btn">
                <div class="col-sm-2"></div>
                <button type="button" class="col-sm-10 btn btn-primary btn-send" (click)="createNewProduct()">Send</button>
            </div>
            <div class="row g-3 align-items-center content-btn">
                <div class="col-sm-2"></div>
                <button type="button" class="col-sm-10 btn btn-primary btn-cancel" (click)="goToHome()">Cancel</button>
            </div>

        </form>
    </section>

    <section class="content-form" *ngIf="showSuccess">
        <div class="content-titles">
            <h2 class="fs-5"> Request</h2>
            <hr class="hr-welcome">
            <h1>Request Success</h1>
            <p>You order has been sent successfully. an advisor will contact you soon</p>
            <button type="button" class="col-sm-10 btn btn-primary btn-send" (click)="goToHome()">Go Home</button>
        </div>
    </section>
</section>