
.content-title-detail{
    margin: 30px;
    background-color: #efefef;
    span{
        padding: 15px 30px;
        font-size: 0.9em;
        color: #7d7d7d;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    } 

    .content-btn{
        position: absolute;
        right: 0px;
        height: 55px;

        button{
            width: 50px;
            height: 51px;
        }
    }
}
.content-acount{
    .alert-no-data{
        width: 100%;
        height: 50px;
        padding: 10px;
        background-color: #f3f5a087;
        color: #7d7d7d;
        margin: 10px;
    }
}