<section class="content-detail">
    <div class="shadow rounded content-title-detail card">
        <span>{{dataTransferService.acountSelect.accountName}}</span>
        <div class="content-btn">
            <button type="button" class="btn btn-primary" (click)="logoutAcountDetail()">
                <i class="fas fa-sign-out-alt col"></i>
            </button>
        </div>
    </div>
    <div class="shadow rounded content-acount card">
        <h5>LAST TRANSACTIONS</h5>
        <div class="alert-no-data" *ngIf="accountDetails.length == 0">
            <p>not movement has been made in this account</p>
        </div>
        <table class="table table-borderless" *ngIf="accountDetails.length > 0">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Currency</th>
                <th scope="col">Value</th>
                <th scope="col">Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let item of accountDetails" [ngClass]="{'active': item.isSelect}" (click)="triggerModal(modalData, item)">
                <td>{{item.fromData}}</td>
                <td>{{item.description}}</td>
                <td>{{item.currency}}</td>
                <td>${{item.value | number}}</td>
                <td>${{item.balance | number}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</section>

<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detail Transaction</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Id Account:</strong>{{selectAccountDetail.idAccount}}</p>
    <p><strong>Acount Name: </strong>{{dataTransferService.acountSelect.accountName}}</p>
    <p><strong>From Date: </strong>{{selectAccountDetail.fromData}}</p>
    <p><strong>Description: </strong>{{selectAccountDetail.description}}</p>
    <p><strong>Currency: </strong>{{selectAccountDetail.currency}}</p>
    <p><strong>Value: </strong>{{selectAccountDetail.value}}</p>
    <p><strong>Balance: </strong>{{selectAccountDetail.balance}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<ng-template #modalAverage let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Average Account</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>



