<div class="row content-nav" >
    <div class="row col-9">
        <div class="row col-9">
            <img class="col-2 img-user" src="../../../../assets/{{dataTransferService.infoUser.img}}" >
            <div class="col p-3 content-welcome">
                <span class="welcome">Welcome back, {{dataTransferService.infoUser.name}}!</span><br>
                <span class="last-login">Your last login was {{dataTransferService.infoUser.lastLogin | date:'dd/MM/yyyy h:mm:ss a'}} PHT </span>
            </div>
        </div>
        <div class="col p-3 content-totals">
            <span class="total-text">Total Balance</span><br>
            <span class="total-cash">${{dataTransferService.totalBalance | number}}</span>
        </div>
    </div>
    <div class="col content-action">
        <div class="col-12 content-btn">
            <button type="button" class="btn btn-outline-primary" (click)="openNewProduct()">Request New Product</button>
        </div>
        <div class="col-12 content-btn">
            <button type="button" class="btn btn-outline-primary">Make a Transfer</button>
        </div>
    </div>
</div>