.content-nav{
    height: 130px;
}

.content-action{
    margin-top: 15px;
}

.content-btn{
  margin: 0 auto;
}

button{
    color: aliceblue;
    border-radius: 50px;
    border: 2px solid #01d6e4;
    width: 200px;
    margin:  8px auto;
    display: block;
}

.img-user{
    margin-top: 25px;
    border-radius: 50%;
    width: 100px;
    height: 75px;
}

span{
    color : #ffffff;
}

.content-welcome{
    margin-top: 20px;
    .welcome{
        font-size: 1.2em;
        font-weight: 300;
    }
    .last-login{
        font-size: 0.9em;
        font-weight: 300;
    }
}

.content-totals{
    margin-top: 20px;
    .total-text{
        font-size: 0.9em;
        font-weight: 300;
    }
    .total-cash{
        font-size: 1.4em;
        font-weight: 700;
    }
}