<div *ngIf="dataTransferService.loading" class="loading-container flex-content-center align-items-center justify-content-center">
  <div class="spinner-grow" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<router-outlet></router-outlet>
