
@import '../../../../assets/scss/variables.scss';



.sesion-footer{
    color: $base-color-blue;
    padding: 05vh 20vw;

    .content-text{

        span{
            font-size: 1.2em;
            font-weight: 600;
        } 
    }

    button {
        border-radius: 50px;
        width: 161px;
        border: 2px solid $base-color-active;
        color: $base-color-blue;
    }
}