<div class="container">
    <header class="content-header">
        <div>
            <img class="logo" src="../../../../assets/logo.png" >
        </div>
    </header>
    <section class="content-form">
        <div class="content-titles">
            <h2 class="fs-5"> Welcome back</h2>
            <hr class="hr-welcome">
            <h1>Login</h1>
            <p>For you money safety, please delete all extensions for the browser you use to log into your wallet</p>
        </div>
        
        <form [formGroup]="authorizationForm">
            <div class="row g-3 align-items-center">
                <div class="label-form col-sm-2">
                    <label for="inputPassword6" class="col-form-label">User</label>
                </div>
                <div class="col-sm-10 ">
                    <input type="text" class="form-control" formControlName="userCtrl" 
                    [ngClass]="displayFieldCss('userCtrl')" required>
                    <div *ngIf="isNotFieldValid('userCtrl')"  id="userHelper" class="form-text">Please, enter a valid user.</div>
                </div>
            </div>

            <div class="row g-3 align-items-center">
                <div class="label-form col-sm-2">
                    <label for="inputPassword6" class="col-form-label ">Password</label>
                </div>
                <div class="col-sm-10">
                    <input type="password" class="form-control" formControlName="passwordCtrl" 
                    [ngClass]="displayFieldCss('passwordCtrl')" required>

                    <div *ngIf="isNotFieldValid('passwordCtrl')" id="passwordHelper" class="form-text">Please, enter a valid password.</div>
                </div>
            </div>

            <div class="row g-3 align-items-center content-btn">
                <div class="col-sm-2"></div>
                <button type="button" class="col-sm-10 btn btn-primary btn-login" (click)="authorizationUser()" [disabled]="!authorizationForm.valid">Login</button>
            </div>
        </form>
    </section>

    <footer class="sesion-footer">
        <div class="row">
            <div class="col-sm-8 content-text">
                <span>Don`t heave an account?</span><br>
                <a>Register here</a>
            </div>
            <div class="content-btn col-sm-4">
                <button type="button" class="btn btn-outline-primary">Create account</button>
            </div>
        </div>
    </footer>
</div>