/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import './assets/scss/variables.scss';

.content-form{
    text-align: center;
    color: $base-color-blue;
    padding: 0px 20vw;
    font-family: 'Roboto', sans-serif;

    .form-text{
        text-align: initial;
        margin-bottom: 0.5rem;
        font-family: 'Roboto', sans-serif;
    }

    .btn-login{
        margin: 20px 0px;
        border-radius: 50px;
    }

    .content-btn{
        margin: 10px 0px;
    }

    .form-control{
        border: 2px solid $base-color-blue !important;
    }
    .align-items-center{
        margin-bottom: 11px;
    }


    .content-titles{
        p{
            padding: 30px 30px;
        }
        .hr-welcome{
            border: 1.5px solid $base-color-active;
            width: 85px;
            margin: 0 auto;
            margin-bottom: 20px;
            background-color: $base-color-active;
            opacity: 80%;
        }
        
    }
}

.btn-primary{
    background-color: $base-color-blue;
    border-color:$base-color-blue;
}

.form-text{
    margin-top: 0.25rem;
    font-size: 0.675em;
    color: #fb8989;
}

.content-header{
    .logo{
        width: 250px;
    }
}

.content-acount{
    margin: 30px;
    
    h5{
        padding: 15px 30px;
        font-size: 0.9em;
        color: $base-color-gray;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    th{
        font-size: 0.9em;
        color: $base-color-blue;
    }
    td {
        font-size: 0.9em;
        color: $base-color-gray;
    }

    tbody {
        tr:hover{
            background-color: $base-color-black;
            border-left: 4px solid $base-color-active;
            cursor: pointer;
        }

    }
    .active{
        background-color: $base-color-black;
        border-left: 4px solid $base-color-active;
        cursor: pointer;  
    }
}