  
  .text-muted{
    color: #00dbd7 !important;
    font-size: 0.85em;
  }

  .position-sticky {
    
  }

 .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0px 0 0; 
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; 
  }
  
  .sidebar .nav-link {
    font-weight: 400;
    color: #ffffff;
    font-size: 0.95em;
    padding: 0.88rem 1rem;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #00dbd7;
  }
  
  .sidebar .nav-link.active {
    border-left: 4px solid #2fc9ca;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.17550770308123254) 0%, rgba(255,255,255,0.07746848739495793) 48%, rgba(255,255,255,0.03265056022408963) 100%);
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .85rem;
    text-transform: uppercase;
  }

  .bg-light{
    z-index: 10000;
    background-color: #042654 !important;
  }

  .logo{
    width: 100px;
    margin: 0 auto;
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  h6 {
      padding-left: 10px;
  }
  
  